.home {
  @media screen and (max-width: $screen-sm-max) {
    margin-top: 60px;
  }

  iframe {
    border: none;
  }

  .information {

    > div {
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
      }
      @media screen and (max-width: $screen-md-max) {
        .twitter-timeline:last-of-type {
          margin-top: 50px !important;
        }
      }
    }
  }

  .sources {
    display: block;
  }
}