html, body {
  height: 100%;
}

body {
  background-color: white;
  font-weight: $font-weight-base;
  padding-top: $navbar-height;
}

#app {
  background-color: lighten($brand-info, 48%);
  > .container {
    padding-bottom: $spacer-y * 2;
    padding-top: $spacer-y * 2;
  }
}

.col-center {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  width: 100%;
}

disabled,
.disabled {
  cursor: not-allowed;
}

blockquote {
  font-weight: 300;
}

.pos-rel {
  position: relative;
}

.pos-inv {
  @media screen and (max-width: $screen-xs-max) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.outline-none {
  outline: none !important;
}

.dis-inline {
  display: inline-block;
}
