.nav .link--navbar {
  color: $brand-info;
  padding-bottom: 18px;
  padding-top: 18px;
  @media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    font-size: $font-size-small;
    padding-left: 7px;
    padding-right: 7px;
  }
  @media screen and (max-width: $screen-xs-min - 1) {
    font-size: $font-size-small;
    padding: 3px 10px;
  }

  &:active, &:focus, &:visited {
    background-color: transparent;
    color: $brand-info;
    outline: none;
    text-decoration: none;
  }

  &:hover, &.active {
    background-color: transparent;
    color: white;
    text-decoration: none;
  }
}

.link--source {

  &:active, &:focus, &:visited {
    color: $brand-primary;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: black;
    text-decoration: none;
  }
}